* {
    padding: 0; 
    margin: 0; 
}

body {
    height: 200vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #052158;
    color: white;
    font-size: 16px;
}

div.page-banner {
    background-image: url(img/nature-2813487_1920.jpg);
    background-position: 0 -60%; 
    height: 175px;
}

div.toggle {
    display: none; 
}


/* FLEX - DROPDOWN MENU */

ul.nav-list {
    background-color: #FFD200;
    display: flex; 
    justify-content: center; 
    height: 40px; 
}

ul li {
    list-style-type: none;
    line-height: 40px; 
    flex-basis: 20%; 
    cursor: pointer; 
    text-shadow: 0px 0px 5px black;
}

ul.nav-sublist {
    display: none;
}

ul.nav-list li:hover ul.nav-sublist {
    display: flex; 
    flex-direction: column; 
    background-color: #FFD200;
}

ul.nav-list li:hover ul.nav-sublist li { 
    width: 100%; 
}

li:hover {
    background-color: #DDC100; 
}

/* MOBILE MENU  */

@media (max-width: 500px) {
    ul.nav-list { 
        height: auto;
        width: 100%; 
        position: absolute; 
        top: 0; 
        left: 0;
        display: none;
    }

    ul.nav-list li:hover ul.nav-sublist {
        display: none; 
    }

    .active {
        display: flex !important; 
        flex-direction: column;
    }

    div.toggle {
        display: block;
        position: absolute; 
        top: 0; 
        left: 0;
        cursor: pointer; 
        color:#052158; 
        padding: 5px; 
        font-size: 24px; 
        z-index: 2; 
    }

    div.toggle:hover {
        color: white;
    }

}


