* {
    padding: 0; 
    margin: 0; 
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #052158;
    color: white;
    font-size: 16px;
}

div.page-banner {
    background-image: url(img/nature-2813487_1920.jpg);
    background-position: 0 -60%; 
    height: 175px;
}

/* FLEX - DROPDOWN MENU */

ul.nav-list {
    background-color: #FFD200;
    display: flex; 
    justify-content: center; 
    height: 40px; 
}

ul li {
    list-style-type: none;
    line-height: 40px; 
    flex-basis: 20%; 
    cursor: pointer; 
    text-shadow: 0px 0px 5px black;
}

ul.nav-sublist {
    display: none;
}

ul.nav-list li:hover ul.nav-sublist {
    display: flex; 
    flex-direction: column; 
    background-color: #FFD200;
}

ul.nav-list li:hover ul.nav-sublist li { 
    width: 100%; 
}

li:hover {
    background-color: #DDC100; 
}
